DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
DJANGO_TIME_ZONE=Europe/Moscow

POSTGRES_DB=articles_db
POSTGRES_USER=articles_user
POSTGRES_PASSWORD=articles_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

DEFAULT_FROM_EMAIL=noreply@example.com
LOAD_DEMO_DATA=True
